:root {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url('./background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input-error {
  border: 1px solid rgb(255, 57, 57) !important;
}

.form-invalid::before {
  content : 'Неверный ввод!';
  color: rgb(255, 57, 57);
  font-size: 1.2rem;
}

.form-valid::before {
  content : 'Коммент успешно отправлен!';
  color: rgb(77, 255, 77);
  font-size: 1.2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.rounded {
  border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.shadowed {
  box-shadow: 0 0 6px rgb(100, 100, 100);
}
