.Layout header {
    font-size: 1.5rem;

    position: fixed;
    z-index: 1;
}

.Layout header .SearchBar {
    padding: 0.75rem 0;
}

.Layout header .SearchBar input {
    width: 82.5%;
    border: none;
}

.Layout header .SearchBar button {
    background: rgb(66, 66, 254);
    color: white;
    border: none;
}

.Layout header .SearchBar button:hover {
    background: rgb(41, 41, 245);

    box-shadow: 0 0 6px rgb(41, 41, 245);
    -o-box-shadow: 0 0 6px rgb(41, 41, 245);
    -moz-box-shadow: 0 0 6px rgb(41, 41, 245);
    -webkit-box-shadow: 0 0 6px rgb(41, 41, 245);
}

.Layout header ul {
    margin: 0;
    margin-top: 0.5rem;
}

.Layout header li {
    margin: 0 1rem;
}

.Layout header li.active {
    border-bottom: 2px solid rgb(41, 116, 255);
}

.Layout header li.active:hover {
    border-bottom-color: rgb(130, 174, 255);
}

.Layout header a {
    color: white;
    text-decoration: none;
    vertical-align: middle;
}

.Layout header a:hover {
    color: rgb(228, 228, 228);
}