.post-comment input,
.post-comment textarea {
    width: 100%;
    resize: none;
    background: rgb(219, 230, 219);
    border: 1px solid #333;
}

.post-comment textarea {
    height: 10rem;
}

.post-comment p {
    margin: 0;
}

.post-comment button {
    background: rgb(72, 72, 247);
    border: 2px solid rgb(72, 72, 247);

    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;

    width: 50%;
}

.post-comment button:hover {
    background: rgb(36, 36, 255);
    border: 2px solid rgb(36, 36, 255);

    box-shadow: 0 0 6px rgb(36, 36, 255);
    -o-box-shadow: 0 0 6px rgb(36, 36, 255);
    -moz-box-shadow: 0 0 6px rgb(36, 36, 255);
    -webkit-box-shadow: 0 0 6px rgb(36, 36, 255);
}

.comments li {
    border: 1px solid #aaa;
    margin: 1rem 0;
}

.comments li h2 {
    color: white;
    background: rgb(9, 68, 9);
    font-size: 1.5rem;
    padding: 0.25rem 0;
    padding-left: 1rem;
    margin: 0;
}

.comments li p {
    background: rgb(202, 202, 202);
    margin: 0;
    padding: 1rem 0;
    padding-left: 1rem;
    border-top: 1px solid #aaa;
}

.comments button {
    background: transparent;
    border: 2px solid rgb(72, 72, 247);

    color: rgb(72, 72, 247);
    font-size: 1.5rem;
    text-transform: uppercase;

    width: 20%;
}

.comments button:hover {
    background: rgb(36, 36, 255);
    border: 2px solid rgb(36, 36, 255);

    box-shadow: 0 0 6px rgb(36, 36, 255);
    -o-box-shadow: 0 0 6px rgb(36, 36, 255);
    -moz-box-shadow: 0 0 6px rgb(36, 36, 255);
    -webkit-box-shadow: 0 0 6px rgb(36, 36, 255);

    color: white;
}

